
body {
    background-color: #faf5eb;
    font-family: sans-serif;
    padding: 20px;
}
.item {
    border: 1px solid #ccc;
    background: white;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 8px;
}
